.header {
  /* background: url(/img/greek-vase.png) no-repeat center center; */
  height: 100vh;
}

.btn{
  width: 200px;
  margin-top: 20px;
  background-color: #F2C94C;
  border-radius: 50px;
  box-shadow: 1px 2px 2px rgb(158, 157, 157) ;
}

.btn:hover{
  color: white;
  animation: btnAnim .2s forwards;
  transition: all .4s;
}

/* banner */
.banner {
    position: absolute;
    top: 15%;
    left: 5%;
    /* transform: translate(-30%, -50%); */
    width: 40%;
  }
  
  .bannerHeading {
    font-family: 'Poppins' sans-serif;
    font-weight: bold;
    font-size: 60px;
    animation-name: anim;
    animation-duration: 2s;
  }
  
  .bannerPar {
    font-weight: bold;
    animation-name: anim;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
  }
  .HeaderImg{
    width: 50%;
    position: absolute;
    top: 10%;
    left: 25%;
  }
  .Line{
    position: absolute;
    top: 70%;
    left: 14%; 
  }

  .WelcomeMessage{
    position: absolute;
    background-color: #F2C94C;
    top: 70%;
    font-family: 'Poppins' sans-serif;
    /* right: 5%; */
  }
  
  .lead_anim{
      animation: anim .8s ease-in backwards;
      transition: all;
  }
  
  @keyframes anim {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes btnAnim {
    0% {
      transform: scale(1, 1); 
    
    }
    100% {
      transform: scale(1.1, 1.2); 
    }
  }

  @media (max-width: 1024px){
    .banner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      text-align: center;
    }
  }
  /* end of banner */