.header {
  background: #b3b343 no-repeat center center /cover;
  height: 100vh;
}

/* .btn{
  animation-name: anim;
  /* animation-delay: .8s; 
  animation-fill-mode: backwards;
  animation-duration: 2s;
} */

.btn:hover{
  color: white;
  animation: btnAnim .2s forwards;
  transition: all .4s;
  
}

.Video {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
}

/* banner */
.banner {
    position: absolute;
    top: 35%;
    left: 5%;
    /* transform: translate(-30%, -50%); */
    width: 50%;
  }
  
  .bannerHeading {
    font-weight: bolder;
    animation-name: anim;
    animation-duration: 2s;
  }
  
  .bannerPar {
    font-weight: bold;
    animation-name: anim;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
  }
  
  .lead_anim{
      animation: anim .8s ease-in backwards;
      transition: all;
  }
  
  @keyframes anim {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes btnAnim {
    0% {
      transform: scale(1, 1); 
    
    }
    100% {
      transform: scale(1.1, 1.2); 
    }
  }

  @media (max-width: 1024px){
    .banner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      text-align: center;
    }
  }
  /* end of banner */